@using System.Collections.ObjectModel
@using RedditClone
@using RedditClone.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        @Html.ActionLink("RedditClone", "Index", "Subreddit", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Home", "Index", "Subreddit", null, new { @class = "nav-item nav-link" })
                <a class="nav-item nav-link" href="#">Login</a>
                <a class="nav-item nav-link" href="#">Signup</a>
            </div>
        </div>
    </nav>
<div class="container-fluid">
    <div class="row">
        @if (ViewBag.Title != "Reddit Clone - All")
        {
            <div class="col order-md-first order-last text-center text-md-left">
                <ul class="list-group list-group-flush">
                    @using (var redditCloneContext = new RedditCloneContext())
                    {
                        var subredditList = new SubredditListViewModel
                        {
                            Subreddits = redditCloneContext.Subreddits.Select(s => new SubredditViewModel
                            {
                                SubredditId = s.SubredditId,
                                SubredditName = s.SubredditName,
                                Posts = s.Posts
                            }).ToList()
                        };
                        foreach (var subreddit in subredditList.Subreddits)
                        {
                            <a href="@Url.Action("Detail", "Subreddit", new {id = subreddit.SubredditId})" class="list-group-item list-group-item-action">@subreddit.SubredditName</a>
                        }
                    }
                </ul>
            </div>
        }
        <div id="body-content" class="col-10 order-md-last order-first mx-auto mb-5">
            <div>@RenderBody()</div>
        </div>
    </div>
</div>

    <footer class="text-center mt-5 mb-2">RedditClone &copy; @DateTime.Now.Year Brandon Brewer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
