@model RedditClone.Models.SubredditViewModel

@{
    ViewBag.Title = Model.SubredditName;
}

<div class="jumbotron">
    <h1>
        @Model.SubredditName
    </h1>
    @Html.ActionLink("Add Post", "PostAdd", "Post", new { id = Model.SubredditId}, null)
</div>

<div class="list-group">
    @foreach (var post in Model.Posts)
    {
        <a href="@Url.Action("Index", "Post", new {id = post.PostId})"
           class="list-group-item list-group-item-action">
            <h4 class="d-inline-block mb-4">@post.Title</h4>
            @if (post.Body != null)
            {
                if (post.Body.Length > 75)
                {
                    <p>@post.Body.Substring(0, 75)...</p>
                }
                else
                {
                    <p>@post.Body</p>
                }

            }
            <span class="float-right font-italic">@post.Date</span>
        </a>
    }
</div>

